.faq-container {
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.faq-container[open] {
  border: 1px solid var(--theme-background);
}

.faqs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.faq-title {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0;
}

.faqs-item {
  border-radius: 4px;
  background-color: var(--theme-background);
  transition: all 0.3s ease-in-out;
  padding: 24px;
  overflow: hidden;
}

.faqs-title {
  --width: 20px;
  --height: 3px;
  --radius: 1px;
  --color: var(--text-color);
  margin: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  font-size: 24px;
  color: var(--text-color);
  padding-right: 30px; /* Space for the icon */
}

.faqs-item:hover .faqs-title {
  color: var(--white);
}

.faqs-title::before,
.faqs-title::after {
  content: '';
  display: block;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  position: absolute;
  border-radius: var(--radius);
  top: calc(50% - (var(--height) / 2));
  right: 0;
  transition: all 0.2s ease-in-out;
}

.faqs-title::after {
  transform: rotate(90deg);
}

.faqs-item[open] {
  background-color: transparent;
  border: 1px solid var(--theme-background);
}

.faqs-item[open] .faqs-title {
  color: var(--highlight-color);
  margin-bottom: 10px;
}

.faqs-item[open] .faqs-title::before {
  transform: rotate(45deg);
}

.faqs-item[open] .faqs-title::after {
  transform: rotate(135deg);
}

.faqs-summary {
  list-style: none;
  outline: none;
}

.faqs-summary::-webkit-details-marker {
  display: none;
}

.faqs-summary:focus {
  outline: none;
}

.faqs-description {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.faqs-item[open] .faqs-description {
  max-height: 300px; /* Adjust based on your content */
  opacity: 1;
}

.faqs-description-inner {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  padding-top: 14px;
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.faqs-item[open] .faqs-description-inner {
  transform: translateY(0);
}