.experiance-projects-container {
    background: var(--black);
    padding: 24px;
    border-radius: 16px;
}

.experiance-projects-container h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.333em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    color: var(--white);
    margin-bottom: 0;
}

.recent-projects-video {
    width: 100%;
    height: 224px;
    object-fit: cover;
}


.expert-area {
    margin: 5px 0;
}

.expert-area-carts {
    display: flex;
    justify-content: space-between;

}

.expert-area-cart-container {
    margin-top: 18px;
}

.expert-area-image {
    background: var(--theme-background);
    border-radius: 8px;
    padding: 12px 36px;
}

.expert-area-text {}

.expert-area-text p {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    line-height: 1.5em;
    margin: 8px 0 0;
}

.recent-projects-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-projects-text a {
    font-size: 16px;
    font-weight: 400;
    color: var(--highlight-color);
    line-height: 1.5em;
    border-bottom: 2px solid var(--border-color);
    text-decoration: none;
}

.recent-projects-images-container {}

.recent-projects-image-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-background);
    padding: 24px 24px 0;
    margin-top: 24px;
    border-radius: 8px;
}

.recent-projects-image {
    display: flex;
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 225px;
    object-fit: cover;
}

.recent-projects-image:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.3s ease;
}

.image-hover-wrapper {
    position: relative;
    width: 100%;
    height: 225px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(14, 16, 24, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-hover-wrapper:hover .hover-overlay {
    opacity: 1;
}

.plus-icon {
    font-size: 36px;
    color: var(--white);
    background: var(--highlight-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

.image-tag {
    background: var(--white);
    color: var(--theme-background);
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.info {
    display: flex;
}

.home-list-item {
    display: flex;
}

.work-experiance-main{

}

.work-experiance-slider {
    max-height: 220px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    margin-bottom: 0;
    transform: translateY(calc(-0.21278% - 0.0340448px));
}

.work-experiance-slider li {
    display: flex !important;
    align-items: center;
    margin-top: 20px;

}

.date {
    width: 50%;
}

.date p {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    border-radius: 8px;
    width: 32px;
    height: 32px;
    background-color: var(--theme-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 35px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.5em;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.42em;
    margin-bottom: 0;
}