@media (min-width: 320px) and (max-width: 767px) {

    .profile-container {
        padding: 16px;
    }

    .profile-container-image img {
        width: 200px;
    }

    .profile-container-button button {
        padding: 10px 0;
        font-size: 14px;
    }

    .page-right-container {
        padding: 16px;
    }

    .about-heading {
        gap: 12px;
    }

    .about-heading h1 {
        font-size: 30px;
    }

    .about-data-para {
        width: 100%;
        font-size: 20px;
    }

    .circle-area {
        display: none;
    }

    .about-experience-container {
        gap: 20px;
    }

    .header-with-arrows h2 {
        font-size: 20px;
    }

    .arrow-buttons button {
        font-size: 14px;
        padding: 8px;
    }

    .testimonial-card {
        padding: 16px;
    }

    .test-card-head {
        margin-bottom: 12px;
    }

    .testimonial-card-detail {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .author {
        font-size: 12px;
    }

    .work-together {
        padding: 10px 0;
        margin-top: 10px;
    }

    .work-together-item a {
        font-size: 25px;
    }
}