.contact-data-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--text-color);
}

.form {
    margin-top: 54px;
}

.form-container {
    background: var(--theme-background);
    padding: 50px;
    border-radius: 8px;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    color: #f0f2f5;
}

.form-input {
    border-radius: 8px;
    padding: 16px 10px;
    border: 1px solid  #1A1F2C;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--black);
    color: var(--white);
}

.validations{
    color: rgb(174, 7, 7);
    margin: 10px 0 0px;
}

.form-input:active,
.form-input:focus {
    background-color: var(--black);
    border: 1px solid #1A1F2C;
    color: var(--white);
}

.form-input::placeholder {
    color: var(--text-color);
}

.contact-submit-btn {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    background-color: #4770FF;
    padding: 16px 24px;
    width: 100%;
    border: 0;
    border-radius: 8px;
}