.testimonials-container {
    /* background: #000; */
    margin-top: 50px;
}

.header-with-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.header-with-arrows h2 {
    font-size: 30px;
    font-weight: 500;
    color: #f0f2f5;
    margin-bottom: 0;
}

.arrow-buttons {
    display: flex;
}

.arrow-buttons button {
    background-color: #000;
    color: #576076;
    border: 1px solid #1A1F2C;
    border-radius: 8px;
    padding: 10px 12px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-buttons button:hover {
    color: #60a5fa;
    border-color: #60a5fa;
}

.slick-slide > div {
    display: flex;
    justify-content: center;
    /* padding: 0 10px; */
}

.testimonial-card-wrapper {
  margin: 0 ;
}

.slick-list {
  /* margin: 0 -10px; */
}

.slick-slider{
    
}

.testimonial-card {
    background: #0E1018;
    padding: 24px;
    border-radius: 8px;
}

.test-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stars {
    color: #FAAD3D;
    font-size: 0.9rem;
    margin-bottom: 0px;

}

.stars svg {
    margin-right: 5px;
}

.source {
    display: inline-block;
    background: #1f2937;
    color: #60a5fa;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.8rem;
    margin-bottom: 0px;
    text-decoration: none;
}

.testimonial-card-detail {
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 400;
    color: #f0f2f5;
    line-height: 1.5em;
}

.author {
    font-size: 16px;
    font-weight: 400;
    color: #616670;
    margin-bottom: 0;
}

.author span {
    color: white;
    font-weight: 700;
}