.profile-main {
    /* margin-top: 24px; */
}

.profile-container {
    background: var(--black);
    padding: 24px;
    border-radius: 16px;
}

.profile-container-image {
    background-color: var(--theme-background);
    border-radius: 8px;
    text-align: center;
}

.profile-container-image img{
    width: 261px;
}

.profile-container-text-parent{
    margin-block: 24px;

}

.anchor-book{
    text-decoration: none;
}

.profile-container-text h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.333em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    color: var(--white);
    margin-bottom: 0;
}

.profile-container-text p {
    margin: 10px 0 10px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}

.profile-container-button {
    gap: 10px;
    display: flex;
}

.profile-container-button button {
    border-radius: 8px;
    border: none;
    padding: 16px 37px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 10px;
    font-family: "Bricolage Grotesque";
    margin-top: 15px;
}

.profile-container-button .book {
    color: var(--white);
    background-color: var(--highlight-color);
}

.profile-container-button .copy {
    color: var(--text-color);
    background: transparent;
    border: 1px solid #1A1F2C;
}

.profile-container-button-svg{
    font-size: 20px;
}


.profile-container-icons{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.profile-container-icon{
    padding: 8px 13px;
    border-radius: 8px;
    background-color: var(--theme-background);
    cursor: pointer;
}

.profile-container-icon-svg{
    font-size: 24px;
    color: #64748B;
}