@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
button {
    font-family: "Bricolage Grotesque";
    margin: 0;
}

.flex-center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.papa {
    padding: 24px 0;
    background-color: var(--theme-background);
    background-image:
        /* url('./assets/background2.png'), */
        /* url('./assets/background1.png'), */
        url('./assets/background3.png'),
        url('./assets/background4.png');
    background-position:
        /* center center,
        bottom center, */
        top left,
        bottom right;
    background-repeat: no-repeat;
    background-size:
        /* 70px 70px,
        150px 150px, */
        1000px 50%,
        1000px 50%;
    min-height: 100vh;
}

:root{
    --white: white;
    --black: black;
    --theme-background: #0E1018;
    --highlight-color: #3b82f6;
    --text-color: #f0f2f5b3;
    --border-color: #1A1F2C;
}

[data-theme="light"] {
  --white: black; /* flip usage */
  --black: white;
  --theme-background: #FBFCFE;
  --highlight-color: #2563eb;
  --text-color: #141414cc;
  --border-color: #e5e7eb;
}